@model LMS_Learning_Management_System.Models.Lesson

@{
    ViewData["Title"] = "اضافة";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/css/fileinput.min.css" rel="stylesheet" />
<link href="~/css/bootstrap-multiselect.css" rel="stylesheet" />

<h1>اضافة جديدة</h1>

<h4>الدروس</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" required autocomplete="off"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlVideo" class="control-label"></label>
                <input asp-for="UrlVideo" class="form-control" required autocomplete="off" />
                <span asp-validation-for="UrlVideo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassId" class="control-label"></label>
                <select asp-for="ClassId" class="form-control" asp-items="ViewBag.ClassId">
                    <option value="">--اختر--</option>
                </select>
                <span asp-validation-for="ClassId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId">
                    <option value="">--اختر--</option>
                </select>
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Semester" class="control-label"></label>
                <select asp-for="Semester" class="form-control">
                    <option value="">--اختر--</option>
                    <option value="1">الفصل الأول</option>
                    <option value="2">الفصل الثاني</option>
                </select>
                <span asp-validation-for="Semester" class="text-danger"></span>
            </div>
            <div class="form-group" id="teaceridv" style="display:none">
                <label asp-for="TeacherId" class="control-label">مدرس المادة</label>
                <select asp-for="TeacherId" id="TeacherId2" class="form-control">
                </select>
                <span asp-validation-for="TeacherId" class="text-danger"></span>

            </div>



            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="">--اختر--</option>
                    <option value="true">فعال</option>
                    <option value="false">غير فعال</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">اوراق العمل</label>

                <input id="multiplefileupload" type="file" name="multiplefileupload" accept=".doc,.docx,.pdf" multiple>

                @*<input id="multiplefileupload" type="file" name="files" multiple />*@

                <div id="productImagesPreview" class="mt-2" style="display: flex; flex-wrap: wrap;"></div>
                <span class="text-danger" id="productImagesValidation"></span>
            </div>

            <div class="form-group">
                <label class="control-label">الدوسيات</label>

                <input id="multiplefileupload2" type="file" name="multiplefileupload2" accept=".doc,.docx,.pdf" multiple>

                @*<input id="multiplefileupload" type="file" name="files" multiple />*@

                <div id="productImagesPreview2" class="mt-2" style="display: flex; flex-wrap: wrap;"></div>
                <span class="text-danger" id="productImagesValidation"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="CreatedUser" class="control-label"></label>
                    <input asp-for="CreatedUser" class="form-control" />
                    <span asp-validation-for="CreatedUser" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedDate" class="control-label"></label>
                    <input asp-for="CreatedDate" class="form-control" />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="اضافة" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-dark">الرجوع الى القائمة</a>
</div>


<script src="~/js/jquery3.3.1.js"></script>
<script>
    // الانتظار حتى يتم تحميل الصفحة
    $(document).ready(function () {
        // التقاط تغييرات في dropdown1 (المواد)
        $('#SubjectId').change(function () {
            // جلب القيمة المحددة في dropdown1 (المواد)
            var selectedSubjectId = $(this).val();
            var selectedClassId = $('#ClassId').val();

            // استخدام Ajax لجلب المعلمين بناءً على المادة المحددة
            $.ajax({
                url: '@Url.Action("GetTeachersBySubject", "Lessons")',
                type: "POST",
                data: { "subjectId": selectedSubjectId, "classId": selectedClassId },
                success: function (response) {

                    $('#teaceridv').css('display', 'Block');
                    // حذف الخيارات القديمة في dropdown2
                    $('#TeacherId2').empty();
                    // إضافة الخيارات الجديدة بناءً على المعلمين المحددين
                    $.each(response, function (index, teacher) {
                        $('#TeacherId2').append('<option value="' + teacher.id + '">' + teacher.fullName + '</option>');

                    });






                },
                error: function (request, status, error) {
                    alert("لا يوجد معلمين للمادة والمستوى المطلوبين")
                }
            });





        });



    });
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/js/plugins/sortable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/themes/fas/theme.min.js"></script>

<script>
    // ----------multiplefile-upload---------
    $("#multiplefileupload").fileinput({
        'theme': 'fa',
        'uploadUrl': '#',
        showRemove: false,
        showUpload: false,
        showZoom: false,
        showCaption: false,
        browseClass: "btn btn-danger",
        browseLabel: "",
        browseIcon: "<i class='fa fa-plus'></i>",
        overwriteInitial: false,
        initialPreviewAsData: true,
        fileActionSettings: {
            showUpload: false,
            showZoom: true,
            removeIcon: "<i class='fa fa-times'></i>",
        }
    });
    // ----------multiplefile-upload---------
    $("#multiplefileupload2").fileinput({
        'theme': 'fa',
        'uploadUrl': '#',
        showRemove: false,
        showUpload: false,
        showZoom: false,
        showCaption: false,
        browseClass: "btn btn-danger",
        browseLabel: "",
        browseIcon: "<i class='fa fa-plus'></i>",
        overwriteInitial: false,
        initialPreviewAsData: true,
        fileActionSettings: {
            showUpload: false,
            showZoom: true,
            removeIcon: "<i class='fa fa-times'></i>",
        }
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


