@model LMS_Learning_Management_System.Models.Enrollment

@{
    ViewData["Title"] = "اضافة";
}

<h1>اضافة جديدة</h1>

<h4>التسجيل</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClassId" class="control-label"></label>
                <select asp-for="ClassId" class="form-control" asp-items="ViewBag.ClassId">
                    <option value="">--اختر--</option>
                </select>
                <span asp-validation-for="ClassId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId">
                    <option value="">--اختر--</option>
                </select>
                <span asp-validation-for="SubjectId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId">
                    <option value="">--اختر--</option>
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Semester" class="control-label"></label>
                <select asp-for="Semester" class="form-control">
                    <option value="">--اختر--</option>
                    <option value="1">الفصل الأول</option>
                    <option value="2">الفصل الثاني</option>
                </select>
                <span asp-validation-for="Semester" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="CreatedDate" class="control-label"></label>
            <input asp-for="CreatedDate" class="form-control" />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="اضافة" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-dark">الرجوع الى القائمة</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
