@model string

@{
    ViewData["Title"] = "Authentication";
}

<h1 class="bg-info text-white">تسجيل الدخول</h1>
@Model

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">تسجيل الخروج</a>
}